header {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100px;
}

header > div {
  width: calc(256px / 4);
  height: calc(192px / 4);
}

header > div > img {
  width: 100%;
  height: 100%;
}

header > h2 {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000;
}
